@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h3>Rasmus Wallberg</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                March 2021 - Today
            </p>
            <p>
                Working at <a href="http://nordic-viewpoint.com" target="_blank">Nordic Viewpoint</a> as a programmer for their inhouse Azure App NVAssist.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Skills:</h3>
            <ul>
                <li>
                    <h5>Program design</h5> - Windows, Web
                </li>
                <li>
                    <h5>Games</h5> - Unity, Unreal
                </li>
                <li>
                    Games
                </li>
                <li>
                    Web
                </li>
                <li>
                    Frontend
                </li>
                <li>
                    Backend
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Languages:</h3>
            <ul>
                <li>
                    <p>C#, C++</p>
                </li>
                <li>
                    <h4 class="d-inline">Web:</h4>
                    <p>Javascript, HTML, CSS</p>
                </li>

                <li>
                    <h4 class="d-inline">Data:</h4>
                    <p>JSON, SQL, XML</p>
                </li>
                <li>
                    <h4 class="d-inline">Frameworks:</h4>
                    <p>.NET</p>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Programs:</h3>
            <ul>
                <li>
                    <p>Visual Studio 2019, Visual Studio 2022, Microsoft Azure</p>
                </li>
                <li>
                    <h4 class="d-inline">Game engines:</h4>
                    <p>Unity, Unreal</p>
                </li>
            </ul>
        </div>
    </div>
</div>