@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>to Rasmus Wallbergs portfolio site</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="mx5">
                Here you can find and try out things i've developed during my spare time.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                This portfolio site is developed using Microsoft .NET Core 5 with an MVC approach.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Skills:</h3>
            <ul>
                <li>
                    <h5>Systems design</h5> - Windows, Web
                </li>
                <li>
                    <h5>Games</h5> - 2D, 3D; Unity &amp; Unreal 4
                </li>
                <li>
                    Games Design
                </li>
                <li>
                    Webdesign
                </li>
                <li>
                    Frontend Design
                </li>
                <li>
                    Backend Design and developement
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Languages:</h3>
            <ul>
                <li>
                    <h4 class="d-inline">General:</h4>
                    <p>C#, C++</p>
                </li>
                <li>
                    <h4 class="d-inline">Webdevelopement:</h4>
                    <p>Javascript, HTML, CSS</p>
                </li>

                <li>
                    <h4 class="d-inline">Data:</h4>
                    <p>JSON, SQL</p>
                </li>
                <li>
                    <h4 class="d-inline">Frameworks:</h4>
                    <p>.NET Core, .NET 5</p>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Programs:</h3>
            <ul>
                <li>
                    <h4 class="d-inline">General:</h4>
                    <p>Visual Studio 2019, Azure DevOps, Azure, Google Cloud Services</p>
                </li>
                <li>
                    <h4 class="d-inline">Engines:</h4>
                    <p>Unity, Unreal</p>
                </li>
            </ul>
        </div>
    </div>
</div>