@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8"><p>Shating information with WeghuzApp is entirely opt in. You can easily opt out of sharing any of your data by either going to the issuer of your connected account. To Delete your Identity on WeghuzApp you click on your E-mail in the top right corner when logged in then clicking Personal Data and navigating to the Delete function.</p>
</div>
<div class="col-md-4">
    <p>You can also use <a href="/Identity/Account/Manage/PersonalData">this</a> link and press the Delete button.</p>
    </div>
</div>
