
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hedge Hog Attack</h1>
<div class="row">
    <div class="col-md-4">
        <ul>
            <li>
                Title: Hedge Hog Attack
            </li>
            <li>
                Language: C#
            </li>
            <li>
                Year of first release: 2011
            </li>
            <li>
                Gametype: Platforming with map-editor.
            </li>
            <li>
                Engine: Microsoft XNA
            </li>
            <li>
                Published to <a href="https://www.indiedb.com/games/hedge-hog-attack?fbclid=IwAR3tcL5NQ2J4hNCTYCEdQpLWSHS8hlBZw6Y8WJwyp1YkZiaCukmOm8lAizs">IndieDB: Hedge Hog Attack</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8"></div>
    <h2>
        Description:
    </h2>
    <p>
        Hog the Dog was a project i Developed during my time at High School. I was studying a program for electricians but my hobbys were gaming and programming. Hog the Dog was developed using C# and Microsofts now dated graphics Library XNA.
    </p>
</div>